aliyun-python-sdk-core==2.13.30
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.14.0
Babel==2.9.1
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
crcmod==1.7
cryptography==3.2.1
cx-Oracle==8.1.0
cycler==0.10.0
defusedxml==0.6.0
django-qrcode==0.3
docopt==0.6.2
et-xmlfile==1.1.0
Flask==1.1.2
Flask-Admin==1.5.8
Flask-BabelEx==0.9.4
Flask-Caching==1.10.1
Flask-CKEditor==0.4.6
Flask-Cors==3.0.10
Flask-Login==0.5.0
flask-sqlacodegen==1.1.8
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.15.1
idna==2.7
inflect==5.0.2
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
jqdatasdk==1.8.10
kiwisolver==1.3.1
lml==0.1.0
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
msgpack==1.0.2
numpy==1.19.5
odfpy==1.4.1
openpyxl==3.0.9
optionaldict==0.1.2
oss2==2.13.1
pandas==1.2.1
Pillow==8.1.0
pipreqs==0.4.10
ply==3.11
pycparser==2.20
pycryptodome==3.10.1
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-ods==0.6.0
pyexcel-xls==0.6.2
Pygments==2.2.0
PyMySQL==0.9.3
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.0
pytz==2018.5
pywin32==300
requests==2.20.0
selenium==3.141.0
six==1.12.0
soupsieve==2.1
speaklater==1.3
SQLAlchemy==1.3.22
texttable==1.6.3
thriftpy2==0.4.14
urllib3==1.23
wechatpy==1.8.15
Werkzeug==0.15.4
WTForms==2.3.3
xlrd==1.2.0
xlwings==0.22.0
xlwt==1.3.0
xmltodict==0.12.0
yarg==0.1.9
